@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,800;1,200;1,500;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
   font-size: 62.5%;
   scroll-behavior:smooth;
}
body
{
    font-family: 'Poppins', sans-serif;
    background:#fff;
    overflow-x: hidden;
   
}
/* ================ Header Styling Start========== */
.header{
    position: fixed;
    width: 100%;
    padding: 1.6rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header .logo{
    display: inline-block;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 500;
    color: #FA8072;
    text-shadow: 2px 5px 3px blue;
    transition: all 1s ease;
}
.header .logo:hover{
    transform: scale(1.5,1.5);
}
.header .navbar-list{
    list-style: none;
    display: flex;
    gap: 2rem;

}
.header .navbar-list a{
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    color: #000;
    transition: all 0.8s ease-in-out;
}
.navbar-list a:hover{
    color: #FA8072;
}
.header .social-media-icons i{
        display: inline-block;
        font-size: 1.8rem;
        margin-left: 0.5rem;
        padding: 0.3rem;
        color: #FA8072;
        transition: all 1s ease;
}
.social-media-icons i:hover{
    background-color: #fff;
    border-radius: 12px;
}
/* ============ Header Styling End================ */

/* =============  hero Styling Start =============== */
#Hero{
    height: 100vh;
    background: url(/Images/pexels-wouter-de-jong-571169.jpg);
    background-size:100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
   
}
#Hero .hero-container{
    margin:auto;
   width: 90%;
   height: 89%;
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-container .hero-content .First{
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
}
.hero-container .hero-content .name{
    font-size: 3.5rem;
    font-weight:500;
    text-transform: capitalize;
}
.hero-container .hero-content .field{
    font-size: 2.5rem;
    font-weight:500;
    text-transform: capitalize;
    color: #FA8072;
}
.hero-container .hero-content  .address{
    font-size: 1.3rem;
    text-transform: capitalize;
    color: #000; }

.hero-container .btn{
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    background:#FA8072;
    color: #fff;
    width:12rem;
   padding: 1em;
   border-radius: 0.8rem;
    text-align: center;
    margin-top: 5px;
    transition: all 1s ease;
}
.btn:hover{
    background: #fff;
    color: purple;
    border-radius: 4rem;
    border: 1px solid crimson;
    
}


/* =============  hero Styling End =============== */
